
@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('../fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu-Italic.woff') format('woff'), url('../fonts/Ubuntu-Italic.ttf')  format('truetype'), url('../fonts/Ubuntu-Italic.svg#Ubuntu-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
